{% extends "base.html" %}


{% block content %}
<h2>Ohjelmointi <br><small>Koodiesimerkkejä, ideioita, pulmia.</small></h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Viestiketjut</th>
            <th>Viestejä</th>
            <th>Aloittaja</th>
        </tr>
    </thead>
    
    <tbody>
        <!-- tähän tulee viestiketjut -->
        <tr>
            <td><a href="#"><strong>paras järjestämisalgoritmi?</strong></a></td>
            <td>4</td>
            <td>Janne</td>
        </tr>
        <tr>
            <td><a href="#">esimerkki: äänen toistaminen Javassa</a></td>
            <td>2</td>
            <td>Pythagoras</td>
        </tr>
        <tr>
            <td><a href="#">konstruktori ei toimi</a></td>
            <td>6</td>
            <td>Kepa</td>
        </tr>
        
    </tbody>
</table>
{% endblock %}