{% extends "base.html" %}


{% block content %}
<h2>Rekisteröityminen</h2>
<br />
<form>
    <div class="form-group">
        <label for="tunnus">Valitse käyttäjätunnus:</label>
        <input type="text" class="form-control" id="tunnus" />
    </div>

    <div class="form-group">
        <label for="salasana1">Valitse salasana:</label>
        <input type="text" class="form-control" id="salasana1" />
    </div>

    <div class="form-group">
        <label for="salasana2">Vahvista salasana:</label>
        <input type="text" class="form-control" id="salasana2" />
    </div>
    
    <button type="submit" class="btn btn-primary">rekisteröidy</button>
</form>

{% endblock %}