{% extends "base.html" %}


{% block content %}
<h2>Käyttäjät:</h2>
<table class="table table-striped table-bordered">
    <thead>
        <th>Käyttäjänimi</th>
        <th>rekisteröitynyt</th>
        <th>viestejä</th>
        <th></th>
    </thead>
    
    <tbody>
        <!-- tähän tulee käyttäjät -->
        {% for kayttaja in kayttajat %}
        <tr>
            <td><strong>{{kayttaja.tunnus}}</strong></td>
            <td>{{kayttaja.rekist_aika}}</td>
            <td>{{viesteja[kayttaja.tunnus]}}</td>
            <td>
                <form method="post" action="{{base_path}}/muuta_kayttajaa/{{kayttaja.tunnus}}">
                    {% if kayttaja.bannattu %}
                        <button type="submit" name="muutos" value="-bannattu">poista bannaus</button>
                    {% else %}
                        <button type="submit" name="muutos" value="+bannattu">bannaa</button>
                    {% endif %}
                    
                    {% if kayttaja.yllapitaja %}
                        <button type="submit" name="muutos" value="-yllapitaja">poista ylläpitäjä</button>
                    {% else %}
                        <button type="submit" name="muutos" value="+yllapitaja">ylläpitäjäksi</button>
                    {% endif %}
                </form>
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
{% endblock %}