{% extends "base.html" %}


{% block content %}
<h2>Käyttäjät:</h2>
<table class="table table-striped table-bordered">
    <thead>
        <th>Käyttäjänimi</th>
        <th>rekisteröitynyt</th>
        <th>viestejä</th>
        <th></th>
    </thead>
    
    <tbody>
        <!-- tähän tulee käyttäjät -->
        {% for kayttaja in kayttajat %}
        <tr>
            <td><strong>
                {% if kayttaja == kirjautunut_kayttaja %}    
                    <font color="green">{{kayttaja.tunnus}}</font>
                {% else %}
                    {{kayttaja.tunnus}}
                {% endif %}
                </strong>
                {% if kayttaja.bannattu == true %}
                    <font color="red">&nbsp[BANNATTU]</font>
                {% endif %}
                {% if kayttaja.yllapitaja == true %}
                    <font color="blue">&nbsp;[YLLÄPITÄJÄ]</font>
                {% endif %}
            </td>
            <td>{{kayttaja.rekist_aika}}</td>
            <td>{{viesteja[kayttaja.tunnus]}}</td>
            <td>
                <!-- itseään ei voi bannata tai poisttaa ylläpitäjyyttä -->
                {% if kayttaja != kirjautunut_kayttaja %}
                <form method="post" action="{{base_path}}/muuta_kayttajaa/{{kayttaja.tunnus}}">
                    {% if kayttaja.bannattu == true %}
                        <input type="submit" name="submit" value="poista bannaus">
                    {% else %}
                        <input type="submit" name="submit" value="bannaa">
                    {% endif %}
                    
                    {% if kayttaja.yllapitaja == true %}
                        <input type="submit" name="submit" value="poista ylläpitäjä">
                    {% else %}
                        <input type="submit" name="submit" value="ylläpitäjäksi">
                    {% endif %}
                </form>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
        
    </tbody>
</table>
{% endblock %}