{% extends "base.html" %}


{% block content %}
<h2>Uusi viestiketju aihealueeseen <a href="{{aluelinkki}}">{{aihealue.nimi}}</a></h2>
<br>

<form method="post" action="{{base_path}}/luo_ketju/{{aihealue.id}}">
    <input type="hidden" name="kirjoittaja" value="{{kirjautunut_kayttaja.tunnus}}">
    <div class="form-group">
        <label for="otsikko">Viestiketjun otsikko:</label>
        <input name="otsikko" id="otsikko" type="text" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="viesti">Aloitusviesti:</label>
        <textarea name="viesti" id="viesti" class="form-control" rows="9"></textarea>
    </div>
       <button type="submit" class="btn btn-default">Luo</button>
</form>

{% endblock %}