{% extends "base.html" %}


{% block content %}
<h2>{{viestiketju.otsikko}}
    &ensp;<small>- viestiketju aihealueessa 
        <a href="{{aluelinkki}}">{{aluenimi}}</a></small>
</h2>

{% for viesti in viestit %}
    <div style="background-color: #d6ebe0">
        <blockquote>
        <ul class="list-inline">
            <li><strong>{{viesti.kirjoittaja}}</strong></li>
            <li><small>{{pvm[viesti.id]}}</small></li>
            <li><small>{{aika[viesti.id]}}</small></li>
        </ul>
        <p>
            {{viesti.sisalto}}
        </p>
        </blockquote>
    </div>
{% endfor %}


{% if kirjautunut_kayttaja %}
    <form method="post" action="{{base_path}}/luo_viesti/{{viestiketju.id}}">
        <input type="hidden" name="kirjoittaja" value="{{kirjautunut_kayttaja.tunnus}}">
        <div class="form-group">
            <label for="sisalto">Uusi viesti:</label>
            <textarea id="sisalto" name="sisalto" class="form-control" rows="6"></textarea>
        </div>
           <button type="submit" class="btn btn-default">Lisää</button>
    </form>
{% endif %}

{% endblock %}