{% extends "base.html" %}


{% block content %}
<h2>{{viestiketju.otsikko}}
    &ensp;<small>- viestiketju aihealueessa 
        <a href="{{aluelinkki}}">{{aluenimi}}</a></small>
</h2>

{% for viesti in viestit %}
    <div style="background-color: #d6ebe0">
        <blockquote>
        <ul class="list-inline">
            <li><strong>{{viesti.kirjoittaja}}</strong></li>
            <li><small>{{pvm[viesti.id]}}&ensp;
                    {{aika[viesti.id]}}</small></li>
            {% if muokattu[viesti.id] %}
                <li><small>muokattu viimeksi&ensp;{{muokkauspvm[viesti.id]}}&ensp;
                    {{muokkausaika[viesti.id]}}</small></li>
            {% endif %}
        </ul>
        <p>{{viesti.sisalto|nl2br}}</p>
        {% if kirjautunut_kayttaja.tunnus == viesti.kirjoittaja %}
            <a class="btn btn-default btn-xs" href="{{base_path}}/muokkaus/{{viesti.id}}">muokkaa</a>
        {% endif %}
        {% if kirjautunut_kayttaja.tunnus == viesti.kirjoittaja or kirjautunut_yllapitaja %}
            <a class="btn btn-default btn-xs" href="{{base_path}}/poista_viesti/{{viesti.id}}">poista</a>
        {% endif %}
        </blockquote>
    </div>
{% endfor %}


{% if kirjautunut_kayttaja %}
    <form method="post" action="{{base_path}}/luo_viesti/{{viestiketju.id}}">
        <input type="hidden" name="kirjoittaja" value="{{kirjautunut_kayttaja.tunnus}}">
        <div class="form-group">
            <label for="sisalto">Uusi viesti:</label>
            <textarea id="sisalto" name="sisalto" class="form-control" rows="6"></textarea>
        </div>
           <button type="submit" class="btn btn-default">Lisää</button>
    </form>
{% endif %}

{% endblock %}